*{
    
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
h1{
    font-size: 30px;
    font-weight:bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
body{
    
    margin: 0;
    padding: 0;
    background: url(final.jpeg) no-repeat;
    background-size: cover;
    
}
.middle{
    position:relative;
    top: 50px;
    left: 40px;
    /*transform: translate(-50%,50%);*/
}
.menu{
    
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
}
.item{
    border-top: 1px solid aqua;
    overflow: hidden;
}
.btn{
    text-align: justify;
    font-size: 20px;
    display: block;
    padding: 16px 20px;
    background: #3498db;
    color: white;
}
.btn:before{
    content: "";
    position: relative;
    width: 14px;
    height: 14px;
    background: #3498db ;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}
.btn i{
    margin-right: 10px;

}
.sbmenu{
    background: #333;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
    
}
.sbmenu a{
    display: block;
    padding: 16px 26px;
    color: white;
    font-size: 15px;
    
    position: relative  ;
}
.sbmenu a:before{
content: "";
width: 6px;
height: 50%;
top: auto;
position: relative;
background: #3498db;
left: 0;
transition: 0.4s;
opacity: 0;

}
.sbmenu a:hover:before{
    opacity: 1;
}
.item:target .sbmenu{
    max-height: 10em;
}